.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: -webkit-linear-gradient(300deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}
.nav-container header{
    width: 90%;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.about {
    background-color: #f5f5f5;
    padding: 60px 30px;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.description {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
    line-height: 1.6;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social-link {
    color: #05d5ff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #0056b3;
}