.askPage {
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  /* width: 100vw; */
  /* position: relative; */
  height: 100vh;
  max-width: 1200px;
  /* margin: 0 auto; */
    margin: 0 auto;

}
.askPage::after{
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100vh;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  width: 100vw;
  z-index: -1;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.QA-container {
  margin: 0 auto;
  margin-top: 2rem;
  width: 700px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  height: 72vh;
  background-color: rgb(244, 248, 248);
}

 .alert {
  position: absolute;
  top: 4rem;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(95, 88, 88);
  padding: 6px 8px;
  border-radius: 4px;
  z-index: 3;
}

.QA-container .results {
  overflow-x: hidden;
  padding: 30px 20px 100px;

}

.results .chat {
  display: flex;
  list-style: none;
  align-items: center;
}

.input-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}

.input-container textarea {
  height: 3.5rem;
  width: 16.3rem;
  border-radius: 4px;
  padding: 8px 15px;
  border: 1px solid rgb(75, 70, 70);
  /* margin-right: 5px; */
  font-size: 1rem;
}

.input-container button {
  background-color: #53f;
  border-radius: 4px;
  padding: 8px 15px;
  border: none;
  height: 3.5rem;
  font-size: 1.4rem;
  color: aliceblue;
  align-self: flex-end;
}

.QA-container::-webkit-scrollbar {
  width: 6px;
}

.QA-container::-webkit-scrollbar-track {
  background: #9c9696;
  border-radius: 25px;
}

.QA-container::-webkit-scrollbar-thumb {
  background: #252424;
  border-radius: 25px;
}

.results .question {
  margin: 20px 0;
  justify-content: flex-end;
}

.results .answer {
  display: flex;
  align-items: end;
  position: relative;
  cursor: pointer;
}

.results .answer span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #16b0ff;
  border-radius: 4px;
  margin: 0 10px 0 0;
}


.results .chat p {
  /* white-space: pre-wrap;
  word-wrap: break-word; */
  text-align: left;
  min-height: 1rem;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 65%;
  color: #fff;
  line-height: 24px;
  font-size: 1.05rem;
  background: #5238ff;
  margin-bottom: 0;
}

.results .answer .copy {
  position: absolute;
  bottom: -28px;
  left: 42px;
  padding: 3px 6px;
  border: none;
  border-radius: 3px;
  background-color: #39484b;
  color: #fff;
  width: 54px;
  height: 25px;
  justify-self: start;
  cursor: pointer;
  /* display: none; */
}


.results .answer p {
  border-radius: 10px 10px 10px 0;
}

.results .answer .error {
  background-color: rgb(230, 86, 86);
}

@media (max-width:1200px) {
  .container {
    margin: 0;
  }
}

@media (max-width:800px) {
  .container {
    padding: 0;
  }

  .QA-container {
    margin-inline: 0;
    width: 100vw;
    margin: 1rem;
  }

}