body {
  font-family: sans-serif;
}
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

.container {
  /* width: 100%; */
  padding: .5rem 2rem;
}

.container-center {
  max-width: 1150px;
  margin: 0 auto;
  padding-inline: 20px;
}
button{
  cursor: pointer;
}